In [1]:
# load the dataset
import pandas as pd
import numpy as np
import math as mt

df = pd.read_excel('C:/Users/anhai/Desktop/SMU/7331_Data_Mining/Data_Mining_7331/Data/mathdownload2018.xlsx')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148933 entries, 0 to 148932
Data columns (total 32 columns):
cds                 148933 non-null int64
rtype               148933 non-null object
schoolname          134824 non-null object
districtname        148916 non-null object
countyname          148916 non-null object
charter_flag        15685 non-null object
coe_flag            487 non-null object
dass_flag           7804 non-null object
studentgroup        148933 non-null object
currdenom           148933 non-null int64
currdenom_swd       10205 non-null float64
currstatus          97487 non-null float64
priordenom          148842 non-null float64
priordenom_swd      9952 non-null float64
priorstatus         96934 non-null float64
change              93435 non-null float64
statuslevel         148933 non-null int64
changelevel         148933 non-null int64
color               148933 non-null int64
box                 148933 non-null int64
hscutpoints         25661 non-null object
curradjustment      8577 non-null float64
prioradjustment     9795 non-null float64
pairshare_method    91 non-null object
caa_denom           10781 non-null float64
caa_level1_num      1411 non-null float64
caa_level1_pct      1411 non-null float64
caa_level2_num      1411 non-null float64
caa_level2_pct      1411 non-null float64
caa_level3_num      1411 non-null float64
caa_level3_pct      1411 non-null float64
ReportingYear       148933 non-null int64
dtypes: float64(15), int64(7), object(10)
memory usage: 36.4+ MB
None

In [2]:
#parse out state records
dfX = df[df.rtype == "X"]

print(dfX.info())

#remove columns with no data
dfX = dfX.dropna(axis=1, how="all")

print(dfX.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 32 columns):
cds                 17 non-null int64
rtype               17 non-null object
schoolname          0 non-null object
districtname        0 non-null object
countyname          0 non-null object
charter_flag        0 non-null object
coe_flag            0 non-null object
dass_flag           0 non-null object
studentgroup        17 non-null object
currdenom           17 non-null int64
currdenom_swd       1 non-null float64
currstatus          17 non-null float64
priordenom          17 non-null float64
priordenom_swd      1 non-null float64
priorstatus         17 non-null float64
change              17 non-null float64
statuslevel         17 non-null int64
changelevel         17 non-null int64
color               17 non-null int64
box                 17 non-null int64
hscutpoints         0 non-null object
curradjustment      1 non-null float64
prioradjustment     1 non-null float64
pairshare_method    0 non-null object
caa_denom           1 non-null float64
caa_level1_num      1 non-null float64
caa_level1_pct      1 non-null float64
caa_level2_num      1 non-null float64
caa_level2_pct      1 non-null float64
caa_level3_num      1 non-null float64
caa_level3_pct      1 non-null float64
ReportingYear       17 non-null int64
dtypes: float64(15), int64(7), object(10)
memory usage: 4.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 24 columns):
cds                17 non-null int64
rtype              17 non-null object
studentgroup       17 non-null object
currdenom          17 non-null int64
currdenom_swd      1 non-null float64
currstatus         17 non-null float64
priordenom         17 non-null float64
priordenom_swd     1 non-null float64
priorstatus        17 non-null float64
change             17 non-null float64
statuslevel        17 non-null int64
changelevel        17 non-null int64
color              17 non-null int64
box                17 non-null int64
curradjustment     1 non-null float64
prioradjustment    1 non-null float64
caa_denom          1 non-null float64
caa_level1_num     1 non-null float64
caa_level1_pct     1 non-null float64
caa_level2_num     1 non-null float64
caa_level2_pct     1 non-null float64
caa_level3_num     1 non-null float64
caa_level3_pct     1 non-null float64
ReportingYear      17 non-null int64
dtypes: float64(15), int64(7), object(2)
memory usage: 3.3+ KB
None

In [111]:
#parse out district records
dfD = df[df.rtype == "D"]

print(dfD.info())
print(dfD.head())

#remove columns with no data
dfD = dfD.dropna(axis=1, how="all")

print(dfD.info())
print(dfD.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14092 entries, 17 to 148915
Data columns (total 32 columns):
cds                 14092 non-null int64
rtype               14092 non-null object
schoolname          0 non-null object
districtname        14092 non-null object
countyname          14092 non-null object
charter_flag        0 non-null object
coe_flag            487 non-null object
dass_flag           0 non-null object
studentgroup        14092 non-null object
currdenom           14092 non-null int64
currdenom_swd       951 non-null float64
currstatus          10452 non-null float64
priordenom          14092 non-null float64
priordenom_swd      938 non-null float64
priorstatus         10495 non-null float64
change              10210 non-null float64
statuslevel         14092 non-null int64
changelevel         14092 non-null int64
color               14092 non-null int64
box                 14092 non-null int64
hscutpoints         1159 non-null object
curradjustment      1035 non-null float64
prioradjustment     1278 non-null float64
pairshare_method    0 non-null object
caa_denom           979 non-null float64
caa_level1_num      446 non-null float64
caa_level1_pct      446 non-null float64
caa_level2_num      446 non-null float64
caa_level2_pct      446 non-null float64
caa_level3_num      446 non-null float64
caa_level3_pct      446 non-null float64
ReportingYear       14092 non-null int64
dtypes: float64(15), int64(7), object(10)
memory usage: 3.5+ MB
None
              cds rtype schoolname                        districtname  \
17  1100170000000     D        NaN  Alameda County Office of Education
18  1100170000000     D        NaN  Alameda County Office of Education
19  1100170000000     D        NaN  Alameda County Office of Education
20  1100170000000     D        NaN  Alameda County Office of Education
21  1100170000000     D        NaN  Alameda County Office of Education

   countyname charter_flag coe_flag dass_flag studentgroup  currdenom  \
17    Alameda          NaN        Y       NaN           AA          2
18    Alameda          NaN        Y       NaN          ALL         20
19    Alameda          NaN        Y       NaN           AS          1
20    Alameda          NaN        Y       NaN           EL          8
21    Alameda          NaN        Y       NaN          ELO          8

        ...        prioradjustment  pairshare_method  caa_denom  \
17      ...                    NaN               NaN        NaN
18      ...                  -15.5               NaN        0.0
19      ...                    NaN               NaN        NaN
20      ...                    NaN               NaN        NaN
21      ...                    NaN               NaN        NaN

    caa_level1_num  caa_level1_pct  caa_level2_num  caa_level2_pct  \
17             NaN             NaN             NaN             NaN
18             NaN             NaN             NaN             NaN
19             NaN             NaN             NaN             NaN
20             NaN             NaN             NaN             NaN
21             NaN             NaN             NaN             NaN

    caa_level3_num  caa_level3_pct  ReportingYear
17             NaN             NaN           2018
18             NaN             NaN           2018
19             NaN             NaN           2018
20             NaN             NaN           2018
21             NaN             NaN           2018

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14092 entries, 17 to 148915
Data columns (total 28 columns):
cds                14092 non-null int64
rtype              14092 non-null object
districtname       14092 non-null object
countyname         14092 non-null object
coe_flag           487 non-null object
studentgroup       14092 non-null object
currdenom          14092 non-null int64
currdenom_swd      951 non-null float64
currstatus         10452 non-null float64
priordenom         14092 non-null float64
priordenom_swd     938 non-null float64
priorstatus        10495 non-null float64
change             10210 non-null float64
statuslevel        14092 non-null int64
changelevel        14092 non-null int64
color              14092 non-null int64
box                14092 non-null int64
hscutpoints        1159 non-null object
curradjustment     1035 non-null float64
prioradjustment    1278 non-null float64
caa_denom          979 non-null float64
caa_level1_num     446 non-null float64
caa_level1_pct     446 non-null float64
caa_level2_num     446 non-null float64
caa_level2_pct     446 non-null float64
caa_level3_num     446 non-null float64
caa_level3_pct     446 non-null float64
ReportingYear      14092 non-null int64
dtypes: float64(15), int64(7), object(6)
memory usage: 3.1+ MB
None
              cds rtype                        districtname countyname  \
17  1100170000000     D  Alameda County Office of Education    Alameda
18  1100170000000     D  Alameda County Office of Education    Alameda
19  1100170000000     D  Alameda County Office of Education    Alameda
20  1100170000000     D  Alameda County Office of Education    Alameda
21  1100170000000     D  Alameda County Office of Education    Alameda

   coe_flag studentgroup  currdenom  currdenom_swd  currstatus  priordenom  \
17        Y           AA          2            NaN         NaN        10.0
18        Y          ALL         20            NaN      -242.0        19.0
19        Y           AS          1            NaN         NaN         0.0
20        Y           EL          8            NaN         NaN         2.0
21        Y          ELO          8            NaN         NaN         2.0

        ...        curradjustment  prioradjustment  caa_denom  caa_level1_num  \
17      ...                   NaN              NaN        NaN             NaN
18      ...                 -13.0            -15.5        0.0             NaN
19      ...                   NaN              NaN        NaN             NaN
20      ...                   NaN              NaN        NaN             NaN
21      ...                   NaN              NaN        NaN             NaN

    caa_level1_pct  caa_level2_num  caa_level2_pct caa_level3_num  \
17             NaN             NaN             NaN            NaN
18             NaN             NaN             NaN            NaN
19             NaN             NaN             NaN            NaN
20             NaN             NaN             NaN            NaN
21             NaN             NaN             NaN            NaN

    caa_level3_pct  ReportingYear
17             NaN           2018
18             NaN           2018
19             NaN           2018
20             NaN           2018
21             NaN           2018

[5 rows x 28 columns]

In [112]:
#parse out school records
dfS = df[df.rtype == "S"] 

print(dfS.info())
print(dfS.head())

#remove columns with no data
dfS = dfS.dropna(axis=1, how="all")

print(dfS.info())
print(dfS.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134824 entries, 30 to 148932
Data columns (total 32 columns):
cds                 134824 non-null int64
rtype               134824 non-null object
schoolname          134824 non-null object
districtname        134824 non-null object
countyname          134824 non-null object
charter_flag        15685 non-null object
coe_flag            0 non-null object
dass_flag           7804 non-null object
studentgroup        134824 non-null object
currdenom           134824 non-null int64
currdenom_swd       9253 non-null float64
currstatus          87018 non-null float64
priordenom          134733 non-null float64
priordenom_swd      9013 non-null float64
priorstatus         86422 non-null float64
change              83208 non-null float64
statuslevel         134824 non-null int64
changelevel         134824 non-null int64
color               134824 non-null int64
box                 134824 non-null int64
hscutpoints         24502 non-null object
curradjustment      7541 non-null float64
prioradjustment     8516 non-null float64
pairshare_method    91 non-null object
caa_denom           9801 non-null float64
caa_level1_num      964 non-null float64
caa_level1_pct      964 non-null float64
caa_level2_num      964 non-null float64
caa_level2_pct      964 non-null float64
caa_level3_num      964 non-null float64
caa_level3_pct      964 non-null float64
ReportingYear       134824 non-null int64
dtypes: float64(15), int64(7), object(10)
memory usage: 33.9+ MB
None
              cds rtype                              schoolname  \
30  1100170112607     S  Envision Academy for Arts & Technology
31  1100170112607     S  Envision Academy for Arts & Technology
32  1100170112607     S  Envision Academy for Arts & Technology
33  1100170112607     S  Envision Academy for Arts & Technology
34  1100170112607     S  Envision Academy for Arts & Technology

                          districtname countyname charter_flag coe_flag  \
30  Alameda County Office of Education    Alameda            Y      NaN
31  Alameda County Office of Education    Alameda            Y      NaN
32  Alameda County Office of Education    Alameda            Y      NaN
33  Alameda County Office of Education    Alameda            Y      NaN
34  Alameda County Office of Education    Alameda            Y      NaN

   dass_flag studentgroup  currdenom      ...        prioradjustment  \
30       NaN           AA         30      ...                    NaN
31       NaN          ALL         93      ...                    NaN
32       NaN           AS          1      ...                    NaN
33       NaN           EL         20      ...                    NaN
34       NaN          ELO          9      ...                    NaN

    pairshare_method  caa_denom  caa_level1_num  caa_level1_pct  \
30               NaN        NaN             NaN             NaN
31               NaN        0.0             NaN             NaN
32               NaN        NaN             NaN             NaN
33               NaN        NaN             NaN             NaN
34               NaN        NaN             NaN             NaN

    caa_level2_num  caa_level2_pct  caa_level3_num  caa_level3_pct  \
30             NaN             NaN             NaN             NaN
31             NaN             NaN             NaN             NaN
32             NaN             NaN             NaN             NaN
33             NaN             NaN             NaN             NaN
34             NaN             NaN             NaN             NaN

    ReportingYear
30           2018
31           2018
32           2018
33           2018
34           2018

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 134824 entries, 30 to 148932
Data columns (total 31 columns):
cds                 134824 non-null int64
rtype               134824 non-null object
schoolname          134824 non-null object
districtname        134824 non-null object
countyname          134824 non-null object
charter_flag        15685 non-null object
dass_flag           7804 non-null object
studentgroup        134824 non-null object
currdenom           134824 non-null int64
currdenom_swd       9253 non-null float64
currstatus          87018 non-null float64
priordenom          134733 non-null float64
priordenom_swd      9013 non-null float64
priorstatus         86422 non-null float64
change              83208 non-null float64
statuslevel         134824 non-null int64
changelevel         134824 non-null int64
color               134824 non-null int64
box                 134824 non-null int64
hscutpoints         24502 non-null object
curradjustment      7541 non-null float64
prioradjustment     8516 non-null float64
pairshare_method    91 non-null object
caa_denom           9801 non-null float64
caa_level1_num      964 non-null float64
caa_level1_pct      964 non-null float64
caa_level2_num      964 non-null float64
caa_level2_pct      964 non-null float64
caa_level3_num      964 non-null float64
caa_level3_pct      964 non-null float64
ReportingYear       134824 non-null int64
dtypes: float64(15), int64(7), object(9)
memory usage: 32.9+ MB
None
              cds rtype                              schoolname  \
30  1100170112607     S  Envision Academy for Arts & Technology
31  1100170112607     S  Envision Academy for Arts & Technology
32  1100170112607     S  Envision Academy for Arts & Technology
33  1100170112607     S  Envision Academy for Arts & Technology
34  1100170112607     S  Envision Academy for Arts & Technology

                          districtname countyname charter_flag dass_flag  \
30  Alameda County Office of Education    Alameda            Y       NaN
31  Alameda County Office of Education    Alameda            Y       NaN
32  Alameda County Office of Education    Alameda            Y       NaN
33  Alameda County Office of Education    Alameda            Y       NaN
34  Alameda County Office of Education    Alameda            Y       NaN

   studentgroup  currdenom  currdenom_swd      ...       prioradjustment  \
30           AA         30            NaN      ...                   NaN
31          ALL         93            NaN      ...                   NaN
32           AS          1            NaN      ...                   NaN
33           EL         20            NaN      ...                   NaN
34          ELO          9            NaN      ...                   NaN

    pairshare_method  caa_denom  caa_level1_num  caa_level1_pct  \
30               NaN        NaN             NaN             NaN
31               NaN        0.0             NaN             NaN
32               NaN        NaN             NaN             NaN
33               NaN        NaN             NaN             NaN
34               NaN        NaN             NaN             NaN

    caa_level2_num  caa_level2_pct  caa_level3_num  caa_level3_pct  \
30             NaN             NaN             NaN             NaN
31             NaN             NaN             NaN             NaN
32             NaN             NaN             NaN             NaN
33             NaN             NaN             NaN             NaN
34             NaN             NaN             NaN             NaN

   ReportingYear
30          2018
31          2018
32          2018
33          2018
34          2018

[5 rows x 31 columns]